Repository CENTITVC/Training, changes with the owners that .github/CODEOWNERS names for each.
All owners: @CENTITVC/codeowners, @CENTITVC/firmware-reviewers, @CENTITVC/hardware-reviewers, @CENTITVC/software-reviewers

.github/CODEOWNERS:

# ------ Global ------
* @CENTITVC/codeowners

# ------ Documents & .md files ------
/Documents/ # Add PME
*.md # Add PME

# ------ Firmware folder ------
/Firmware/ @CENTITVC/firmware-reviewers

# ------ Hardware folder ------
/Hardware/ @CENTITVC/hardware-reviewers

# ------ Software folder ------
/Software/ @CENTITVC/software-reviewers

ButtonLED mode implemented
  Firmware/Training/.cproject
  Firmware/Training/.mxproject
  Firmware/Training/Core/Inc/gpio.h
  Firmware/Training/Core/Inc/i2c.h
  Firmware/Training/Core/Inc/main.h
  Firmware/Training/Core/Inc/stm32f4xx_hal_conf.h
  Firmware/Training/Core/Inc/stm32f4xx_it.h
  Firmware/Training/Core/Inc/usart.h
  Firmware/Training/Core/Src/gpio.c
  Firmware/Training/Core/Src/i2c.c
  Firmware/Training/Core/Src/main.c
  Firmware/Training/Core/Src/stm32f4xx_it.c
  Firmware/Training/Core/Src/usart.c
  Firmware/Training/Debug/Training.elf
  Firmware/Training/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_i2c.h
  Firmware/Training/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_i2c_ex.h
  Firmware/Training/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_uart.h
  Firmware/Training/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_i2c.h
  Firmware/Training/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_usart.h
  Firmware/Training/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_i2c.c
  Firmware/Training/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_i2c_ex.c
  Firmware/Training/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_uart.c
  Firmware/Training/Project/Manager/Manager.c
  Firmware/Training/Project/Manager/Manager.h
  Firmware/Training/Project/UI/UI.c
  Firmware/Training/Project/UI/UI.h
  Firmware/Training/Training.ioc
  Firmware/Training/Training.launch
Owners: @CENTITVC/firmware-reviewers

add SHT31 api
  Firmware/Training/.cproject
  Firmware/Training/Debug/Training.elf
  Firmware/Training/Project/Manager/Manager.c
  Firmware/Training/Project/Sensors/SHT31.c
  Firmware/Training/Project/Sensors/SHT31.h
  Firmware/Training/Project/UI/UI.c
  Firmware/Training/Project/UI/UI.h
Owners: @CENTITVC/firmware-reviewers

create manager for temperature
  Firmware/Training/Debug/Training.elf
  Firmware/Training/Project/Manager/Manager.c
  Firmware/Training/Project/Sensors/SHT31.c
  Firmware/Training/Training.ioc
Owners: @CENTITVC/firmware-reviewers

Add training solution
  Firmware/Training/.cproject
  Firmware/Training/.mxproject
  Firmware/Training/Core/Inc/spi.h
  Firmware/Training/Core/Inc/stm32f4xx_hal_conf.h
  Firmware/Training/Core/Src/main.c
  Firmware/Training/Core/Src/spi.c
  Firmware/Training/Debug/Training.elf
  Firmware/Training/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_hal_spi.h
  Firmware/Training/Drivers/STM32F4xx_HAL_Driver/Inc/stm32f4xx_ll_spi.h
  Firmware/Training/Drivers/STM32F4xx_HAL_Driver/Src/stm32f4xx_hal_spi.c
  Firmware/Training/Project/Manager/Manager.c
  Firmware/Training/Project/Manager/Manager.h
  Firmware/Training/Project/Sensors/SHT31.c
  Firmware/Training/Project/Sensors/SHT31.h
  Firmware/Training/Project/UI/UI.c
  Firmware/Training/Project/UI/UI.h
  Firmware/Training/Training.ioc
Owners: @CENTITVC/firmware-reviewers

Delete software folder
  Software/Application/dummy.txt
  Software/DevServer/dummy.txt
  Software/README.md
  Software/Server/Backend/dummy.txt
  Software/Server/Frontend/dummy.txt
  Software/revert_sparse_checkout.bat
  Software/revert_sparse_checkout.sh
  Software/setup_sparse_checkout.bat
  Software/setup_sparse_checkout.sh
Owners: @CENTITVC/software-reviewers

Add pdf to hardware folder and edit readme
  Hardware/README.md
  Hardware/ss_pcb_formacao_1v0.PDF
Owners: @CENTITVC/hardware-reviewers

Write firmware readme
  Documents/Images/First_challenge.png
  Documents/Images/Hardware_resources.png
  Documents/Images/Second_challenge.png
  Firmware/README.md
Owners: @CENTITVC/firmware-reviewers

Update README.md
  README.md
Owners: none

Update README.md
  Firmware/README.md
Owners: @CENTITVC/firmware-reviewers

Update README.md
  Firmware/README.md
Owners: @CENTITVC/firmware-reviewers

Add presentation
  Documents/Training_day.pptx
Owners: none

Add PCB datasheet and edit hardware readme
  Documents/Images/Hardware_resources.png
  Hardware/README.md
  Hardware/ss_pcb_formacao_1v0.PDF
Owners: @CENTITVC/hardware-reviewers

Editing readmes
  Firmware/README.md
  README.md
Owners: @CENTITVC/firmware-reviewers

Add firmware challenges
  Documents/Images/First_challenge.png
  Documents/Images/Second_challenge.png
  Firmware/Extra_challenge/README.md
  Firmware/First_challenge/Project/Manager/Manager.c
  Firmware/First_challenge/Project/Manager/Manager.h
  Firmware/First_challenge/Project/UI/UI.c
  Firmware/First_challenge/Project/UI/UI.h
  Firmware/First_challenge/README.md
  Firmware/Second_challenge/Project/Manager/Manager.c
  Firmware/Second_challenge/Project/Manager/Manager.h
  Firmware/Second_challenge/Project/Sensors/SHT31.c
  Firmware/Second_challenge/Project/Sensors/SHT31.h
  Firmware/Second_challenge/Project/UI/UI.c
  Firmware/Second_challenge/Project/UI/UI.h
  Firmware/Second_challenge/README.md
  Hardware/Datasheet_SHT3x_DIS.pdf
Owners: @CENTITVC/firmware-reviewers, @CENTITVC/hardware-reviewers

rename folders
  Firmware/1_First_challenge/Project/Manager/Manager.c
  Firmware/1_First_challenge/Project/Manager/Manager.h
  Firmware/1_First_challenge/Project/UI/UI.c
  Firmware/1_First_challenge/Project/UI/UI.h
  Firmware/1_First_challenge/README.md
  Firmware/2_Second_challenge/Project/Manager/Manager.c
  Firmware/2_Second_challenge/Project/Manager/Manager.h
  Firmware/2_Second_challenge/Project/Sensors/SHT31.c
  Firmware/2_Second_challenge/Project/Sensors/SHT31.h
  Firmware/2_Second_challenge/Project/UI/UI.c
  Firmware/2_Second_challenge/Project/UI/UI.h
  Firmware/2_Second_challenge/README.md
Owners: @CENTITVC/firmware-reviewers

Update README.md
  Firmware/README.md
Owners: @CENTITVC/firmware-reviewers

Update README.md
  Firmware/1_First_challenge/README.md
Owners: @CENTITVC/firmware-reviewers

Update README.md
  Firmware/2_Second_challenge/README.md
Owners: @CENTITVC/firmware-reviewers

stuff
  Firmware/First_challenge/README.md
  Firmware/Training/Debug/Training.elf
  Firmware/Training/Training.cfg
  Firmware/Training/Training.launch
Owners: @CENTITVC/firmware-reviewers

Implemented CRC and fixed some typos
  Firmware/1_First_challenge/Project/Manager/Manager.c
  Firmware/1_First_challenge/Project/UI/UI.c
  Firmware/1_First_challenge/Project/UI/UI.h
  Firmware/2_Second_challenge/Project/Sensors/SHT31.c
  Firmware/2_Second_challenge/Project/Sensors/SHT31.h
Owners: @CENTITVC/firmware-reviewers

Applied previous fixes to challenge 2
  Firmware/2_Second_challenge/Project/Manager/Manager.c
  Firmware/2_Second_challenge/Project/Manager/Manager.h
  Firmware/2_Second_challenge/Project/UI/UI.c
  Firmware/2_Second_challenge/Project/UI/UI.h
Owners: @CENTITVC/firmware-reviewers

Added back the extra functionalities of UI in challenge 2
  Firmware/2_Second_challenge/Project/UI/UI.c
  Firmware/2_Second_challenge/Project/UI/UI.h
Owners: @CENTITVC/firmware-reviewers

Updated READMEs and added the Altium file
  Firmware/1_First_challenge/README.md
  Firmware/2_Second_challenge/Project/UI/UI.c
  Firmware/2_Second_challenge/Project/UI/UI.h
  Firmware/2_Second_challenge/README.md
  Firmware/Extra_challenge/README.md
  Hardware/PCB_Formacao.pdf
  Hardware/ss_pcb_formacao_1v0.PDF
Owners: @CENTITVC/firmware-reviewers, @CENTITVC/hardware-reviewers

Update READMEs
  Firmware/README.md
  README.md
Owners: @CENTITVC/firmware-reviewers

Update README.md
  Firmware/README.md
Owners: @CENTITVC/firmware-reviewers

Update README.md
  Firmware/Extra_challenge/README.md
Owners: @CENTITVC/firmware-reviewers
